@font-face{  
    font-family: "Raleway-Medium";
    src:url(/font/Raleway-Medium.ttf) format('truetype')
}

body{
    font-family: "Raleway-Medium",sans-serif ;
    padding-left: 2%; 
    max-width: 1400px; 
}

/*Nav*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width:768px) {
nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
}

/*Logo*/

#logo {
    padding-top: 30px;
    padding-bottom: 60px;
    width: 70px;
}

@media screen and (max-width:768px) {
#logo {
    width: 18%;
}
}

@media screen and (min-width:768px)  and (max-width:992px){
    #logo{
        width: 6%;
    }   
}  

/*menu*/

#menu{
    display: flex;
    width: 20%;
    margin-top: -62px;
}

@media screen and (max-width:768px){
#menu{
    width:100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
}
}

@media screen and (min-width:768px)  and (max-width:992px){
    #menu{
        margin-right: 130px; 
    }}


/* liens hébergements/activités */

a{
    text-decoration: none;
}
.link1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

@media screen and (min-width:768px)  and (max-width:992px){
    .link1{
        padding-right: 80px;
    }   
}

.link2{
    display: flex;
    width: 50%;
    align-items: flex-end;
    justify-content: center;
}

.lien{
    margin-top: 45px
}

@media screen and (max-width:768px){
.lien{
    margin-bottom: 20px;
}
}

/*Survolement liens*/

.link1:hover {
    border-top: #0065FC 3px solid;
    color: #0065FC;
}

@media screen and (max-width:768px){
.link1:hover {
    border-bottom: #0065FC 3px solid;
    border-top: none;
}
}

.link2:hover{
    border-top: #0065FC 3px solid;
}

@media screen and (max-width:768px){
.link2:hover:hover {
    border-bottom: #0065FC 3px solid;
    border-top: none;
}
}

.lien:hover{
    color: #0065FC;
}

/*Main*/


h1{
    font-size: 22px;
    font-weight: bolder;
    margin-bottom: -10px;
}

@media screen and (max-width:768px){
h1{
    width: 100%;
    margin-bottom: 15px;
    margin-top: 30px;
}
}

p{
    font-size: 17px;
}

/****Recherche****/


.search {
    margin-bottom: 30px;
    padding-top: 20px;
    height: 50px;
    display: flex;
}

.search i {
    font-size: 20px;
    padding:20px;
    padding-top: 15px;
    background-color: #f2f2f2;
    border-radius: 15px 0px 0px 15px;
}

/*input*/

.search input {
    border: 1px solid #f2f2f2;
    font-size: medium;
    font-weight: bold;
    padding: 15px;
}

@media screen and (max-width:768px){
.search input{
    padding-top: 5px;
}
}

@media screen and (max-width:768px){
.search input{
    border: none;
    height: 45px;
} 
}

/*bouton*/

.search button {
    border-radius: 0px 15px 15px 0px;
    border: none;
    padding-left: 20px;
    background-color: #0065fc;
    font-size: medium;
    font-weight: bold;
    color: white;
    padding-right: 30px;
}

@media screen and (max-width:768px){
.search button{
    display: none;
}
}

#boutonrecherche{
    display: none;
}

@media screen and (max-width:768px){
#boutonrecherche{
    display: initial;
}}

@media screen and (max-width:768px){
#boutonrecherche{
    background-color: #0065FC;
    color: white;
    border-radius: 0 15px 15px 0;
    border: none;
    height: 15px;
    width: 20px;
}
}

/*Filtres*/

h2{
    font-size: 16px;
    font-weight: bolder;
}

@media screen and (max-width:768px){
h2{
    font-size: 20px;
}
}

.filtres {  
   display: flex;
   flex-wrap: wrap;
   gap: 5px;
   padding: 5px;
}

.filtres1 {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    border: lightgrey 2px solid;
    border-radius: 50px;
    font-weight: bolder;
    font-size: 16px;
    margin-right: 30px;
    margin-left: 20px;
    padding: 10px 18px 10px 18px;
}

.filtres1 span{
    display: block;
    word-break: keep-all;
}

@media screen and (max-width:768px){
    .filtres1{
        font-size: 13px;
        margin-bottom: 10px;
        margin-right: 5px;
        height: 30px;
        width: 35%;
       
}}

@media screen and (min-width:768px) and (max-width:992px){
    .filtres1{
        width: auto;
        height: 20px;
        margin-right: 10px;   
}
}

/*Icônes*/

.if{
    font-size: 18px;
    padding-right: 5px;
    color: #0065FC;
}

@media screen and (max-width:768px){
    .if{
        font-size: 22px;
}}

/*Survol filtres*/

.filtres1:hover{
    background-color: #DEEBFF;
}

.filtres2:hover {
    background-color:#DEEBFF;
}

/*info*/

.fa-info{
    color: #0065FC;
    border-radius: 40px;
    border: #F2F2F2 2px solid;
    font-size: 12px;
    padding: 6px 11px 6px 11px;
    margin-right: 10px;
}

@media screen and (max-width:768px){
    p{
        font-size: 17px;
        margin-bottom: 15px;
}}

#info p{
    display: initial;
}

#info{
margin-top: 30px;
}

/*****Sections Cards*****/

#section{
    display:flex;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 30px;
}

@media screen and (max-width:768px){
#section{  
    display: flex;
    flex-direction: column-reverse;
} 
}

@media screen and (min-width:768px) and (max-width:992px){
    #section{
        display: flex;
        flex-direction: column;
    }   
}

/*Hébergements à Marseille*/
#section1{
    background-color:#F2F2F2;
    border-radius: 20px;
    padding-top: 20px;
    padding-left: 40px;
    margin-top: 30px;
    height: auto;
}

@media screen and (max-width:768px){
    #section1{
        background-color: white;
    }
}

.marseille{
    display: flex;
    flex-wrap: wrap;   
}

.marseille a{
    width: 33%;
}

/*Cards*/
.card{
    background-color: white;
    width: calc(100% - 48px);
    height: 200px;
    padding: 5px;
    border-radius: 20px;
    margin-left :8px; 
    margin-bottom: 20px;
    box-shadow: 0 5px 20px 5px lightgray;
}

@media screen and (max-width:768px){
    .card{
        margin-bottom: 10px;
}
  
.marseille a {
    width: 100%;
    }
}

@media (min-width:768px) and (max-width:992px){
    .card{
        height: 190px;
    }   
}

/*Container*/
.container{
    width: calc(100% - 3px);
    color: black;
    padding-left: 3px;
}

.container p{
    font-size: 14px;
    margin-top: -5px;
}

h3{
    font-size: 14px;
    margin-top: 0px;
}

@media screen and (max-width:768px) {
    .container p{
    font-size: 13px;
    }
    .container h3{
    font-size: 13px;
    }
}

.himg{
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 115px;
    object-fit: cover;
}

/*étoiles*/

.stars{
    display: inline-flex;
    padding-top: -15px;
    font-size: 14px;
}

@media screen and (max-width:768px){
    .stars{
        font-size: 13px;
    }
}

@media (min-width:768px)  and (max-width:992px){
    .stars{
        font-size: 12px;
    }
}

.blue-star{
    color: #0065FC;
}

.grey-star{
    color: #F2F2F2;
}

.hclass{
    font-size: 20px;
    font-weight: bolder;
}

#plus{
    margin-left: 5px;
}

/*****Les plus populaires*****/
#aside{
    background-color:#F2F2F2;
    border-radius: 20px;
    padding: 20px;
    margin-top: 30px;
    height: auto;
}

@media screen and (max-width:768px){
    #aside{
    width: 100%;
    margin-left :-20px;
    border-radius: 0;
    }
}

@media (min-width:768px)  and (max-width:992px){
    #aside{
        width: calc(100% - 40px);
        height: auto;
        margin-bottom: 40px;
    }   
}

.populaires{
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
}

.populaires a{
    width:90%;
}

@media screen and (max-width:768px) {
    .populaire{
        display: flex;
        flex-wrap: wrap;
    }
    .populaires a { 
        width: 90%;}
}

@media (min-width:768px)  and (max-width:992px){
    .populaires{
        display: flex;
        flex-direction: row-reverse;
    }   
    .populaires a{
        width: 35%;
    }
}

/*Cards2*/
.card2{
    display: flex;
    flex-wrap: nowrap;
    background-color: white;
    width: calc(100% -10px);
    height: 140px;
    padding: 5px;
    margin-left: 8px ;
    border-radius: 20px;
    box-shadow: 0 5px 20px 5px lightgray;
}

@media screen and (max-width:768px){
    .card2{
        margin-left:40px;
    }
}

/*Container 2*/
.container2{
    color: black;
    width: calc(100% - 10px);
    padding-left: 10px;
}

.container2 p{
    font-size: 14px;
    margin-top: -5px;
}

@media screen and (max-width:768px){
    .container2 p{
        font-size: 13px;
    }
    .container2 h3{
        font-size: 14px;
    }
}

.pimg{
    border-radius: 20px 0px 0 20px;
    width: 40%;
    height: 100%;
    object-fit:cover;
}

/*Icône*/
.graph{
    color: #0065FC;
}

.graphe{
    display: flex;
    justify-content: space-between;
}

/*étoiles2*/
.stars2{
    display:flex;
    margin-top: 60px;
}

@media screen and (max-width:768px){
    .stars2{
        font-size: 13px;
        margin-top: 50px;
    }
}

@media (min-width:768px)  and (max-width:992px){
    .stars2{
        font-size: 12px;
    }
}

/*****Activités à Marseille*****/
#activites{
    height: auto;
    margin-left: 20px;
}

@media screen and (max-width:768px){
    #activites h2{  
        width: 150px;
        margin-left: 20px;
        margin-bottom: 2px;
        margin-top: 15px
        } 
    #activites{  
       width: 100%;
       margin-top: 100px;
    } 
} 

@media (min-width:768px)  and (max-width:992px){
    #activites{
        width: calc(100% - 40px);
        height: auto;
        margin-bottom: 40px;
    }   
}

.marseille2{
    display: flex;
    flex-wrap: wrap;
}

.marseille2 a{
    width: 25%;
}

@media screen and (max-width:768px){
    .marseille2{  
        display: flex;
        flex-direction: column;
    }

    .marseille2 a{
        width: 100%;
    }
}

@media (min-width:768px)  and (max-width:992px){
    .marseille2{
        display: flex;
        flex-wrap: wrap;
    }  
}

/*Cards3*/

.card3{
    background-color: white;
    width:calc(100% - 30px);
    margin-right: 30px;
    height: 505px;
    border-radius: 20px;
    box-shadow: 1px 2px 5px 5px whitesmoke;
}

@media screen and (max-width:768px){
    .card3{
        height: 195px;
        width: 100%;
    }
}

@media (min-width:768px)  and (max-width:992px){
    .card3{
        width: calc(100% - 20px);
        height: 260px;
        margin-top: 20px;
        box-shadow: 1px 2px 5px 5px whitesmoke;
    }   
}

/*Container3*/
.container3{
    color: black;
    margin-left: 20px;
    width:100%;
    height: 20px;
    padding-bottom: 30px;
}

@media (max-width:768px){
    .container3{
        margin-top: -10px;
    }
}

.aimg{
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 445px;
    object-fit: cover;
}

@media screen and (max-width:768px){
    .aimg{
       height: 140px; 
    } 
}

@media (min-width:768px)  and (max-width:992px){
    .aimg{
        height: 210px ;
    }   
}

#plus{
    color: black;
    font-weight: bolder;
}

@media screen and (max-width:768px){
    #plus{  
        display: none;
    } 
}

/*Footer*/
.footer{
    display: flex;
    background-color: #F2F2F2;
    margin-top: 50px;
    padding-bottom: 100px;
}

@media screen and (max-width:768px){
    .footer{  
        display: flex;
        flex-direction: column;
        margin-left: -30px;
        margin-right: -300px;
    } 
}

@media (min-width:768px)  and (max-width:992px){
    .footer{
        margin-top: 20px;
    }
}

/*Titre*/
.footer h4{
    padding-top: 20px;
    padding-bottom: 15px;
    margin-left: 80px;
}

@media screen and (max-width:768px){
    .footer h4{
    margin-bottom: -10px;
}  
}

@media (min-width:768px)  and (max-width:992px) {
    .footer h4{
        font-size: 17px;
        margin-left: 70px;
        
    }
}

/*Liste*/
.footer li{
    list-style: none;
    margin-left: 40px;
    margin-right: 180px;
    padding-bottom: 15px;
}

@media (min-width:768px)  and (max-width:992px){
    .footer li{
        list-style: none;
        margin-left: 30px;
        margin-right: 10px;
        padding-bottom: 15px;
        font-size: 16px;
        width: 210px;
    }
}

